src/main/mule/implementation-nre-soap-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="post-nre-sapi" doc:id="cd420a3f-885f-4237-8fef-e964f5fade32" >
		<ee:transform doc:name="Transform Message" doc:id="1472b7c3-2939-4519-b7be-2c5808c73116" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	numRows: "9",
	subId: payload.subId,
	sourceLocation: payload.sourceLocation,
	destinationLocation: payload.destinationLocation,
	fromTime: payload.fromTime,
	toTime: payload.toTime,
	advancedNotifyTimeMin: payload.advancedNotifyTimeMin as Number
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="AUX" ><![CDATA[%dw 2.0
output application/xml

ns ns0 http://thalesgroup.com/RTTI/2013-11-28/Token/types/
---
headers: {
	ns0#AccessToken: {
			ns0#AccessToken: {
				ns0#TokenValue: "9f29a908-156d-44d0-bdba-fdc5abd824d7"
				
		}
	}
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="00b9ce2b-ccff-419d-b995-293677917a9c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://thalesgroup.com/RTTI/2017-10-01/ldb/
ns ns01 http://schemas.xmlsoap.org/soap/envelope/
---
{
	ns0#GetDepBoardWithDetailsRequest: {
		ns0#numRows: payload.numRows,
		ns0#crs: payload.sourceLocation,
		ns0#filterCrs: payload.destinationLocation,
		ns0#filterType: "to",
		ns0#timeOffset: payload.advancedNotifyTimeMin,
		ns0#timeWindow: 120
		
	}
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="09fc7484-2901-4760-9205-f632f00e3759" config-ref="Web_Service_Consumer_Config" operation="GetArrBoardWithDetails">
			<wsc:message >
				<wsc:headers ><![CDATA[#[vars.AUX]]]></wsc:headers>
			</wsc:message>
		</wsc:consume>
		<logger level="INFO" doc:name="Logger" doc:id="a16e0e48-550b-4084-8cb8-024c5ef3610d" />
	</flow>
</mule>
